.footer {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;

  // @media screen and (max-width: 767px) {

  // }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .footer {
    padding-bottom: 45px;
  }
}

/* iPad with landscape orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .footer {
    padding-bottom: 45px;
  }
}

/* iPhone 5 
You can also target devices with aspect ratio. */
@media screen and (device-aspect-ratio: 40/71) {
  .footer {
    padding-bottom: 45px;
  }
}
